BACKEND_SERVER__PORT=8080
BACKEND_SERVER__HOST=0.0.0.0
BACKEND_SERVER__WORKERS=1
BACKEND_SERVER__METHODS=["GET", "POST", "OPTIONS", "DELETE", "PATCH", "PUT"]
BACKEND_SERVER__HEADERS=["*"]

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_VHOST=/
RABBITMQ_UI_PORT=15672

RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}/

STORAGE_PATH=storage/images
